.red {
  background-color: #ff0000;
}

.orange {
  background-color: #ffa500;
}

.green {
  background-color: #00af00;
}

.yellow {
  background-color: #ffff00;
}

.ui.fullscreen.modal > .content {
  overflow: auto;
  padding-top: 4rem;
}

.ui.inverted.dimmer {
  background-color: rgba(255, 255, 255, 0.411) !important;
}

.ui.modal>.close {
  top: -0.5rem;
  right: -0.5rem;
  color: #000;
}