.ui.segments .compact.segment {
  background: none;
  border: none;
  box-shadow: none;
  opacity: 0.5;
  transition: opacity .5s ease-out;
}

.ui.segments .compact.segment:hover {
  opacity: 1;
}

.center.aligned.column > .react-datepicker-wrapper > .react-datepicker__input-container > input {
  border-radius: 5px;
  text-align: center;
}

.center.aligned.column > .react-datepicker-wrapper > .react-datepicker__input-container > button {
  top: 15%;
  right: 2px;
}

label {
  margin-right: 10px;
}